#text-container {
  display: flex !important;
  align-items: center;
  gap: 6px;
}

.block-btn {
  flex-shrink: 0;
  /* margin-right: 8px; */
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

yt-formatted-string#text {
  display: inline-block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  visibility: visible !important;
  opacity: 1 !important;
  color: inherit !important;
}
